.commont-p {
    font-size: 25px;
    color: rgba(255, 251, 251, 0.8);
    letter-spacing: 5px;
    margin-top: 50px;
    margin-bottom: 25px;
    /* line-height: 160px; */
    font-weight: 700;
    font-family: cursive;
}
.content {
    border-radius: 10px;
    box-shadow: 5px 5px 8px 1px rgba(245, 237, 237, 0.671); 
}
.content .iconfont {
    font-family:"iconfont" !important;
    font-size: 50px;
    font-style: normal;
    color: rgba(245, 237, 237, 0.671);
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
  }