@font-face {
    font-family: 'iconfont';  /* project id 800387 */
    src: url('//at.alicdn.com/t/font_800387_bk10z24jxsf.eot');
    src: url('//at.alicdn.com/t/font_800387_bk10z24jxsf.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_800387_bk10z24jxsf.woff') format('woff'),
    url('//at.alicdn.com/t/font_800387_bk10z24jxsf.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_800387_bk10z24jxsf.svg#iconfont') format('svg');
  }
@font-face {
    font-family: 'xingkaiti';
    src: url('../font/xingkaiti.ttf');
    font-size: 30px;
    color: rgb(255, 255, 255);
}