@font-face {
    font-family: 'iconfont';  /* project id 800387 */
    src: url('//at.alicdn.com/t/font_800387_up30fhb4gh9.eot');
    src: url('//at.alicdn.com/t/font_800387_up30fhb4gh9.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_800387_up30fhb4gh9.woff') format('woff'),
    url('//at.alicdn.com/t/font_800387_up30fhb4gh9.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_800387_up30fhb4gh9.svg#iconfont') format('svg');
}
@font-face {
    font-family: 'titleLu';
    src: url('../font/Capsuula.ttf');
    font-size: 30px;
    color: #fff;
}